{% include 'page_top.html' %}

<h1>{{ center.name }}</h1>

    <h2>Center</h2>
<table width="100%" border="0" cellspacing="3" cellpadding="1" class="xcrud-list table table-striped table-hover table-bordered">
    <tbody><tr class="xcrud-th th">
      <th colspan="6" align="center"><strong>Training Center Details</strong></th>
    </tr>
	     <tr>
      <td width="17%">Centre ID </td>
      <td width="2%" align="center"><strong>:</strong></td>
      <td width="31%">SHRI-013</td>
      <td width="17%">Training Centre Name</td>
      <td width="2%" align="center"><strong>:</strong></td>
      <td width="31%">SHRI-KURNOOL-ARSHAD ARCADE</td>
    </tr>
    <tr>
      <td>Name of the Training Provider</td>
      <td align="center"><strong>:</strong></td>
      <td>Shri Proskills</td>
      <td>Center Type</td>
      <td align="center"><strong>:</strong></td>
      <td>Tp Owned</td>
    </tr>
    <tr>
      <td>Address Line  (Plot no/Building No./Khasra No./Khatauni No.) </td>
      <td align="center"><strong>:</strong></td>
      <td colspan="4">40/814-7A EH3-5,3rd Floor,Krishna Arcade, Above Andhra Bank,Opp Vidyuth Bhavan, Kurnool-518002</td>

    </tr>
    <tr>
      <td>State/UT</td>
      <td align="center"><strong>:</strong></td>
      <td>Andhra Pradesh</td>
      <td>District/City</td>
      <td align="center"><strong>:</strong></td>
      <td>Kurnool</td>
    </tr>
    <tr>
      <td>Parliamentary Constituency </td>
      <td align="center"><strong>:</strong></td>
      <td>Kurnool</td>
      <td>Pin Code </td>
      <td align="center"><strong>:</strong></td>
      <td>518002</td>
    </tr>
<table width="100%" border="0" cellspacing="3" cellpadding="1" class="xcrud-list table table-striped table-hover table-bordered">
    <tbody><tr class="xcrud-th th">
      <th colspan="3" align="center"><strong>Centre SPOC Details</strong></th>
    </tr>
    <tr>
      <td width="49%">SPOC Name</td>
      <td width="2%" align="center"><strong>:</strong></td>
      <td width="48%">PRAVEEN SUSHANTH M</td>
      </tr>
    <tr>
      <td>SPOC Mobile Number</td>
      <td align="center"><strong>:</strong></td>
      <td>9966440255</td>
      </tr>
    <tr>
      <td>SPOC Email ID </td>
      <td align="center"><strong>:</strong></td>
      <td>sushanth1626@gmail.com</td>
      </tr>
  </tbody></table>
    <table width="100%" border="0" cellspacing="3" cellpadding="1" class="xcrud-list table table-striped table-hover table-bordered">
    <tbody><tr class="xcrud-th th">
      <th colspan="3" align="center"><strong>Photo</strong></th>
	</tr>
    <tr>
		<td style="text-align: left">Training Center Entrance</td>
		<td style="text-align:left">

			<img width="200" src="http://shriproskills.net/apitaCenter/uploads/center_entrance/13_entrance_20190222140408.jpeg">
					</td>
	</tr>
	 <tr>
		<td style="text-align: left">Training Center Outer View</td>

				<td style="text-align:left">

			<img width="200" src="http://shriproskills.net/apitaCenter/uploads/center_outer_view/13_outer_20190209161121.jpeg">
					</td>
	</tr>
	<tr>
		<td style="text-align: left">Classroom 1</td>

		<td style="text-align:left">

			<img width="200" src="http://shriproskills.net/apitaCenter/uploads/center_classroom1/13_classroom1_20190209161129.jpeg">

			</td>
	</tr>
	<tr>
		<td style="text-align: left">Classroom 2</td>
		<td style="text-align:left">

			<img width="200" src="http://shriproskills.net/apitaCenter/uploads/center_classroom2/13_classroom2_20190209161142.jpeg">
						</td>
	</tr><tr>
		<td style="text-align: left">Lab 1</td>

		<td style="text-align:left">

			<img width="200" src="http://shriproskills.net/apitaCenter/uploads/center_lab1/13_lab1_20190209161153.jpeg">
					</td>
	</tr>

	<tr>
		<td style="text-align: left">Lab 2</td>
				<td style="text-align:left">
        				<img width="200" src="http://shriproskills.net/apitaCenter/uploads/center_lab2/13_lab2_20190209161157.jpeg">
					</td>
	</tr>
  </tbody></table>


  </tbody></table>
{% include 'page_bottom.html' %}
